/*
    Date: 2016-02-20
*/
.alertHeader {
color:black;
background-color:#ffdead;
height:1em;
text-align:center;
padding:0.5em;
border:1px solid black;
border-radius: 0.5em;
}
.alertMessage {padding:0.2em;backgroundColor:#eee8dc;color:black;}
.alertButton {position:absolute;bottom:20px;right:20px}
